/* App Container */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

/* Login Container */
.login-container {
  text-align: center;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container input {
  padding: 8px 12px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 16px;
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Chat Container */
.chat-container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 800px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Chat Rooms Sidebar */
.chat-rooms {
  flex-basis: 30%;
  padding: 20px;
  background-color: #f8f8f8;
  overflow-y: auto;
}

.chat-rooms h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.chat-rooms ul {
  list-style: none;
  padding: 0;
}

.chat-rooms li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-rooms li:hover {
  background-color: #ebebeb;
}

.unread-count {
  display: inline-block;
  margin-left: 5px;
  padding: 2px 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}

.chat-rooms input {
  padding: 8px 12px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

.chat-rooms button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Chat Room */
.chat-room {
  flex-basis: 70%;
  padding: 20px;
  background-color: #f2f2f2;
  overflow-y: auto;
}

.chat-room h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.messages {
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
}

.content {
  margin-left: 5px;
}

.message-input {
  display: flex;
}

.message-input input {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: 16px;
}

.message-input button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
